/* Global base styles and Tailwind import */

@import "tailwindcss";
@import "./theme.css";
@import "./checkout.css";

body {
  background: var(--background-primary);
  color: var(--font-color);
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }

  &:hover button {
    text-decoration: none;
  }
}

button {
  &:hover {
    cursor: pointer;
  }
}

/* =============== header ================== */

header {
  color: var(--font-color);
  background-color: var(--background-secondary);

  a {
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }

  }

}

#header-search {
  background-color: var(--background-primary);
  color: var(--font-color);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  padding: 5px;

  &:focus {
    outline: none;
    border-color: var(--focus-color);
    box-shadow: 0 0 0 1px #0070f3;
  }
}

/* =============== main ================== */

main {
  color: var(--font-color);
}

h1 {
  text-align: center;
  margin: auto 20px;
  font-size: xx-large;
  font-weight: bold;
  text-transform: capitalize;
  margin: 20px 0;
}

#sort-select {
  background-color: var(--background-secondary);
  color: var(--font-color);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  padding: 5px;

  &:focus {
    outline: none;
    border-color: var(--focus-color);
    box-shadow: 0 0 0 1px #0070f3;
  }
}

.filter--container {
  background-color: var(--background-secondary);
  color: var(--font-color);
  border: 1px solid var(--border-color);

  .btn--reset {
    background-color: var(--background-secondary-alt);
    color: var(--font-color);

    &:hover {
      background-color: var(--background-primary);  
    }
  }

  .stars--filter {
    label {
      &:hover {
        background-color: var(--background-secondary-alt);
      }
    }
  }

}

.price--filter {
  background-color: var(--background-secondary);
  color: var(--font-color);
  border: 1px solid var(--border-color);
}

/* =============== footer ================== */

footer {
  background-color: #394c60;
  color: lightcyan
}

/* =============== product cards ================== */

.product--card {
  background-color: var(--background-secondary);
  color: var(--font-color);
  transition: box-shadow 300ms, background-color 300ms;
}

.product--card:hover {
  box-shadow: 0 20px 25px -5px var(--shadow-hover-1), 0 10px 10px -5px var(--shadow-hover-2);
}

.product--photo {
  background-color: var(--background-photo);  
}

/* =============== cart ================== */

.cart--item {
  background-color: var(--background-secondary);
}

.cart--item:hover {
  background-color: var(--background-secondary-alt);
}

/* =============== wishlist button ================== */

.button--wishlist {
  &:hover {
    cursor: pointer;
    filter: brightness(1.5);
    /* transform: scale(1.2); */
  }
}

/* =============== product detail page ================== */

.product--additional-info {
  background-color: var(--background-secondary-alt);
  color: var(--font-color-alt);
}
