@import "tailwindcss";

:root {
  --background-primary: #ffffff;
  --background-secondary: #f7f7f7;
  --background-secondary-alt: #e7e7e7;
  --border-color: #cccccc;
  --font-color: #171717;
  --focus-color: #0070f3;

  --button-fwd-bg-start: #82b0fa; 
  --button-fwd-bg-end: #2563eb; 
  --button-bk-bg-start: #f7f7f7;
  --button-bk-bg-end: #cccccc;  
  --shadow-hover-1: rgba(0, 0, 0, 0.1);
  --shadow-hover-2: rgba(0, 0, 0, 0.04);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-primary: #0a0a0a;
    --background-secondary: #2a2a2a;
    --background-secondary-alt: #3a3a3a;
    --border-color: #555555;
    --font-color: #ededed;
    --focus-color: #3399ff  ;

    --button-fwd-bg-start: #2563eb;
    --button-fwd-bg-end: #1e40af;
    --button-bk-bg-start: #3a3a3a;
    --button-bk-bg-end: #0a0a0a;
    --shadow-hover-1: rgba(255, 255, 255, 0.4);
    --shadow-hover-2: rgba(255, 255, 255, 0.6);
  }
}

body {
  background: var(--background-primary);
  color: var(--font-color);
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
  
}

button {

  &:hover {
    cursor: pointer;
  }
  
}

header {
  color: var(--font-color);
  background-color: var(--background-secondary);
}

main {
  color: var(--font-color);
}

#sort-select {
  background-color: var(--background-secondary);
  color: var(--font-color);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  padding: 5px;

  &:focus {
    outline: none;
    border-color: var(--focus-color);
    box-shadow: 0 0 0 1px #0070f3;
  }

}

#header-search {
  background-color: var(--background-primary);
  color: var(--font-color);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  padding: 5px;

  &:focus {
    outline: none;
    border-color: var(--focus-color);
    box-shadow: 0 0 0 1px #0070f3;
  }

}

footer {
  background-color: #394c60;
  color: lightcyan
}

.product--card {
  background-color: var(--background-secondary);
  color: var(--font-color);
  transition: box-shadow 300ms, background-color 300ms;
}

.product--card:hover {
  box-shadow: 0 20px 25px -5px var(--shadow-hover-1), 0 10px 10px -5px var(--shadow-hover-2);
}

.cart--item {
  background-color: var(--background-secondary);
}

.cart--item:hover {
  background-color: var(--background-secondary-alt);
}

 /* =============== checkout ================== */

.checkout--container {

  input, select {
    border: 1px solid var(--border-color);
    border-radius: 4px;
    font-size: 14px;
  }

  input:focus, select:focus {
    outline: none;
    border-color: #0070f3;
    box-shadow: 0 0 0 1px #0070f3;
  } 

  button {
    cursor: pointer;
    transition: all 200ms, filter 150ms;
    border-radius: 4px;
    border: 1px solid var(--border-color);
    color: white;
    padding: 10px 20px;
    font-weight: 500;

    &.button--forward {
      background: linear-gradient(180deg, var(--button-fwd-bg-start), var(--button-fwd-bg-end));

      &:active {
        transform: translateY(1px); 
        filter: brightness(0.95);
      }
    }

    &.button--back {
      background: linear-gradient(180deg, var(--button-bk-bg-start), var(--button-bk-bg-end));
      color: var(--font-color);

      &:active {
        background: linear-gradient(180deg, 
                    var(--button-bk-bg-end), 
                    var(--button-bk-bg-start)); 
      }
    }

    &:hover {
      filter: brightness(1.1); 
      transform: translateY(-1px); 
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    }

    &:disabled {
      opacity: 0.6;
      cursor: not-allowed;
      filter: grayscale(40%);
    }

  }
  
  
}

.button--wishlist {

  &:hover {
    cursor: pointer;
    filter: brightness(1.5);
    /* transform: scale(1.2); */
  }

}